<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint behaviorConfiguration="AnyCertEndpoint"
					  bindingConfiguration="UsernamePassword"
					  address="net.tcp://localhost:28736/Security"
					  binding="netTcpBinding"
					  contract="Procent.Samples.WcfAuthStarter.ServiceContracts.ISecurityService"
					  >
				<identity>
					<dns value="ProcentWcfSample" />
				</identity>
			</endpoint>
			<endpoint behaviorConfiguration="AnyCertEndpoint"
					  bindingConfiguration="UsernamePassword"
					  address="net.tcp://localhost:28736/Products"
					  binding="netTcpBinding"
					  contract="Procent.Samples.WcfAuthStarter.ServiceContracts.IProductsService"
					  >
				<identity>
					<dns value="ProcentWcfSample" />
				</identity>
			</endpoint>
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="UsernamePassword" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="1000" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
					<security mode="Message">
						<message clientCredentialType="UserName"/>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="AnyCertEndpoint">
					<clientCredentials>
						<serviceCertificate>
							<authentication certificateValidationMode="None"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>